<div id="contact" class="screen">
  <h2 class="screen-title">Contact</h2>
  <div id="contact-location">Taipei + California</div>
  <div id="contact-map"></div>
  <a id="contact-email" href="mailto:support@woomoo.in">support@woomoo.in</a>
  <a href="<%- config.root %>blog/" id="contact-blog">Blog</a>
  <div id="footer">
    <div id="footer-links">
      <a href="" id="footer-twitter-link">Twitter</a>
      <a href="" id="footer-instagram-link">Instagram</a>
      <a href="" id="footer-angellist-link">Angellist</a>
    </div>
    <div id="footer-copyright">&copy; 2014 WOOMOO Inc. Powered by <a class="footer-link" href="http://zespia.tw/hexo/" target="_blank">Hexo</a></div>
  </div>
</div>