<div id="contact" class="screen">
  <h2 class="screen-title">Contact</h2>
  <div id="contact-location">Taipei + California</div>
  <div id="contact-map"></div>
  <a id="contact-email" href="mailto:support@woomoo.in">support@woomoo.in</a>
  <a href="<%- config.root %>blog/" id="contact-blog">Blog</a>
  <div id="footer">
    <div id="footer-links">
      <a href="https://twitter.com/woomooinc" id="footer-twitter-link" target="_blank">Twitter</a>
      <a href="http://instagram.com/woomooinc" id="footer-instagram-link" target="_blank">Instagram</a>
      <a href="https://angel.co/popapp" id="footer-angellist-link" target="_blank">Angellist</a>
    </div>
    <div id="footer-copyright">&copy; <%= new Date().getFullYear() %> WOOMOO Inc. Powered by <a class="footer-link" href="http://zespia.tw/hexo/" target="_blank">Hexo</a></div>
  </div>
</div>