<div id="screen-crew" class="screen">
  <h2 id="screen-crew-title" class="screen-title">Crew</h2>
  <div class="member-wrap vip">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Ben Lin</strong>
      <strong class="member-tagline">CEO</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap vip">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Shao Lee</strong>
      <strong class="member-tagline">Co-founder</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap vip">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Leo Lin</strong>
      <strong class="member-tagline">Co-founder</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Jonathan Dang</strong>
      <strong class="member-tagline">Web developer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Howard Huang</strong>
      <strong class="member-tagline">iOS developer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Carlos Liu</strong>
      <strong class="member-tagline">Designer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Ray Shih</strong>
      <strong class="member-tagline">Web developer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Lei Lei Wu</strong>
      <strong class="member-tagline">Community</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Rick Chen</strong>
      <strong class="member-tagline">iOS developer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Ting-Yu Lin</strong>
      <strong class="member-tagline">Windows developer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Jason Peng</strong>
      <strong class="member-tagline">Android developer</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Tommy Chen</strong>
      <strong class="member-tagline">Intern</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">Gary</strong>
      <strong class="member-tagline">Supporter</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">JJ</strong>
      <strong class="member-tagline">Office manager</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
  <div class="member-wrap">
    <div class="member">
      <img src="http://placekitten.com/62/62" class="member-img">
      <div class="member-social"></div>
      <strong class="member-name">TT</strong>
      <strong class="member-tagline">Office manager</strong>
      <p class="member-desc">Craftman at POP</p>
    </div>
  </div>
</div>