<div id="intro" class="screen">
  <h1 id="logo">woomoo.in</h1>
  <p id="tagline">WOOMOO INC. is founded by Ben, Leo and Shao in May 2012. Our goal is to make our everyday life easier through software. Our first product POP helps everyone with an app idea to be able to see how it works on the smart phone. We are a fast growing team that loves design and programing. You can learn more about us by reading the following team section and our blog.</p>
  <a href="<%- config.root %>blog/" id="intro-blog">Blog</a>
  <a href="#team" id="scroll-down"></a>
</div>
