<div id="screen-products" class="screen">
  <h2 class="screen-title">Products</h2>
  <h3>
    <a href="http://popapp.in" id="pop-logo" class="product-logo">POP</a>
  </h3>
  <p class="product-desc">Draw it on paper and use POP to make it running on your phone!</p>
  <div class="product-platform-list">
    <a href="" class="product-platform-iphone">iPhone</a>
    <a href="" class="product-platform-android">Android</a>
    <a href="" class="product-platform-windows">Windows Phone</a>
  </div>
  <div id="pop-devices"></div>
</div>