#screen-crew
  clearfix()
  background: screen-crew

#screen-crew-title
  margin-bottom: 14px
  @media mq-normal
    margin-bottom: 20px

.member-wrap
  padding: 20px 0
  display: none
  &.vip
    display: block
  @media mq-normal
    display: block
    float: left
    width: (100 / 3)%
    padding: 24px 0

.member-img
  width: 62px
  height: 62px
  border: 3px solid #fff
  border-radius: 50%
  display: block
  overflow: hidden
  margin: 0 auto
  background: #505050

.member-social
  height: 38px
  @media mq-normal
    height: 40px

.member-name
  color: #fff
  font-size: 20px
  display: block

.member-tagline
  color: #fff
  font-size: 12px
  display: block
  padding: 10px 0 15px

.member-desc
  color: #000
  opacity: 0.3
  font-size: 13px
  width: 200px
  height: 60px
  margin: 0 auto