#indicator
  position: fixed
  right: 23px
  top: 50%
  height: 10px * 4 + 15px * 3
  margin-top: @height * -0.5
  @media mq-mobile
    display: none

.indicator-link
  display: block
  width: 10px
  height: @width
  position: relative
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset
  margin-bottom: 15px
  border-radius: 50%
  transition: box-shadow 0.3s
  &.active, &:hover
    box-shadow: 0 0 0 @width rgba(0, 0, 0, 0.3) inset
  &:hover
    .indicator-text
      padding-right: 15px
      opacity: 0.8

.indicator-text
  position: absolute
  text-align: right
  font-size: 12px
  color: #0f0f0f
  opacity: 0
  right: 0
  top: 0
  transition: 0.3s
  line-height: 10px