#screen-intro
  background: screen-intro
  padding: 60px 0
  @media mq-normal
    padding-top: 160px

#logo
  hide-text()
  width: 176px
  height: 143px
  image: "images/bg-bg-logo-mobile.png" @width @height
  margin: 0 auto
  @media mq-normal
    width: 242px
    height: 200px
    image: "images/bg-bg-logo.png" @width @height

#tagline
  font-size: 12px
  color: color-tagline
  width: 280px
  line-height: 20px
  margin: 0 auto
  padding-top: 60px
  @media mq-normal
    font-size: 20px
    line-height: 30px
    width: 700px

#intro-blog
  display: none
  @media mq-normal
    font-size: 15px
    color: #e6dfce
    border: 2px solid rgba(154, 138, 91, 0.3)
    border-radius: 5px
    position: absolute
    top: 28px
    right: 44px
    width: 76px
    height: 31px
    line-height: @height
    text-align: center
    text-decoration: none