#intro
  background: screen-intro
  @media mq-mobile
    padding-bottom: 60px
  @media mq-normal
    min-height: 700px

#logo
  hide-text()
  width: 176px
  height: 143px
  image: "images/bg-bg-logo-mobile.png" @width @height
  margin: 0 auto 60px
  padding-top: 60px
  background-position: bottom
  background-repeat: no-repeat
  @media mq-normal
    width: 242px
    height: 200px
    image: "images/bg-bg-logo.png" @width @height
    padding-top: 160px

#tagline
  font-size: 12px
  color: color-tagline
  width: 280px
  line-height: 20px
  margin: 0 auto
  text-align: justify
  @media mq-normal
    font-size: 18px
    line-height: 30px
    width: 750px

#intro-blog
  display: none
  @media mq-normal
    display: block
    font-size: 15px
    color: color-tagline
    border: 2px solid color-tagline
    border-radius: 5px
    position: absolute
    top: 28px
    right: 44px
    width: 76px
    height: 31px
    line-height: @height
    text-align: center
    text-decoration: none
    transition: opacity 0.2s
    &:hover
      opacity: 0.5

#scroll-down
  display: none
  @media mq-normal
    display: block
    font-size: 15px
    color: rgba(153, 137, 91, 0.5)
    text-decoration: none
    position: absolute
    bottom: 30px
    left: 0
    right: 0
    margin: auto
    padding-bottom: 32px
    image: "images/bg-btn-arrow-down-normal.png" 30px 17px
    background-repeat: no-repeat
    background-position: bottom
    &:hover
      image: "images/bg-btn-arrow-down-hover.png" 30px 17px