#products
  background: screen-products
  @media mq-normal
    height: 800px

.product-logo
  hide-text()
  display: block

#pop-logo
  width: 248px
  height: 80px
  image: "images/bg-bg-pop-logo-mobile.png" @width @height
  margin: 60px auto 35px
  transition: opacity 0.2s
  &:hover
    opacity: 0.7
  @media mq-normal
    width: 300px
    height: 100px
    image: "images/bg-bg-pop-logo.png" @width @height
    margin: 55px auto 20px

.product-desc
  margin: 0 20px
  font-size: 18px
  line-height: 25px
  opacity: 0.2
  color: #000
  @media mq-normal
    width: 400px
    font-size: 22px
    margin: 0 auto
    line-height: 30px

.product-platform-list
  clearfix()
  padding: 24px 0 90px
  width: 30px * 3 + 34px * 2
  margin: 0 auto
  @media mq-normal
    padding: 18px 0 0

$product-platform
  hide-text()
  width: 30px
  height: 30px
  margin-left: 34px
  float: left

.product-platform-iphone
  @extend $product-platform
  image: "images/bg-icon-apple.png" 30px
  margin-left: 0

.product-platform-android
  @extend $product-platform
  image: "images/bg-icon-android.png" 30px

.product-platform-windows
  @extend $product-platform
  image: "images/bg-icon-windows.png" 30px

#pop-devices
  @media mq-normal
    width: 601px
    height: 390px
    image: "images/bg-device.png" @width @height
    margin: auto
    position: absolute
    bottom: 0
    left: 0
    right: 0