#team
  clearfix()
  background: screen-team

#screen-team-title
  margin-bottom: 34px
  @media mq-normal
    margin-bottom: 20px

#member-list
  max-width: 900px
  margin: 0 auto

.member-wrap
  margin: 20px 0
  display: none
  &.vip
    display: block
  @media mq-normal
    display: block
    float: left
    width: (100 / 3)%
    margin: 24px 0

.member-img
  width: 62px
  height: 62px
  border: 3px solid #fff
  border-radius: 50%
  display: block
  overflow: hidden
  margin: 0 auto
  background: #505050

.member-social
  height: 38px
  @media mq-normal
    height: 40px

.member-name
  color: #fff
  font-size: 20px
  display: block

.member-tagline
  color: #fff
  font-size: 12px
  display: block
  padding: 10px 0 15px
  @media mq-normal
    font-size: 13px

.member-desc
  color: #000
  opacity: 0.3
  font-size: 13px
  width: 200px
  height: 60px
  margin: 0 auto

$member-social-link
  width: 20px
  height: @width
  font-size: @width
  line-height: @width
  text-align: center
  opacity: 0.5
  color: #fff
  font-family: font-icon
  margin-top: (38px - @width) * 0.5
  display: inline-block
  text-decoration: none
  @media mq-normal
    margin-top: (40px - @width) * 0.5

.member-twitter-link
  @extend $member-social-link
  &:before
    content: "\f099"
