#team
  clearfix()
  background: screen-team
  padding-bottom: 60px

#screen-team-title
  margin-bottom: 34px
  @media mq-normal
    margin-bottom: 20px

#member-list
  max-width: 900px
  margin: 0 auto

.member-wrap
  margin: 20px 0
  @media mq-normal
    display: block
    float: left
    width: (100 / 3)%
    margin: 24px 0
  &.easter-egg
    display: none

.member-img
  width: 62px
  height: 62px
  border: 3px solid #fff
  border-radius: 50%
  overflow: hidden
  margin: 0 auto
  background: #505050

members = ben, shao, leo, jonathan, carlos, howard, ray, 200, rick, lei, jason, tommy, tt, jj, huiyu

for member in members
  #avatar-{member}
    image: "/img/avatar/bg-avatar-" + member + ".png" 100%

.member-social
  height: 38px
  @media mq-normal
    height: 40px

.member-name
  color: #fff
  font-size: 20px
  display: block

.member-tagline
  color: #fff
  font-size: 12px
  display: block
  padding: 5px 0 15px
  @media mq-normal
    font-size: 13px

.member-desc
  color: rgba(0, 0, 0, 0.3)
  font-size: 13px
  width: 250px
  height: 200px
  margin: 0 auto
  line-height: 20px
  overflow: hidden
  text-align: left
  strong
    font-weight: bold
    font-size: 14px
    color: rgba(0, 0, 0, 0.4)
  em
    font-style: italic
  a
    color: rgba(0, 0, 0, 0.3)

$member-social-link
  width: 20px
  height: @width
  font-size: @width
  line-height: @width
  text-align: center
  opacity: 0.3
  color: #fff
  font-family: font-icon
  margin-top: (38px - @width) * 0.5
  display: inline-block
  text-decoration: none
  transition: opacity 0.2s
  margin-left: 20px
  @media mq-normal
    margin-top: (40px - @width) * 0.5
  &:hover
    opacity: 1
  &:first-child
    margin-left: 0

.member-twitter-link
  @extend $member-social-link
  &:before
    content: "\e600"

.member-github-link
  @extend $member-social-link
  &:before
    content: "\e602"

.member-dribbble-link
  @extend $member-social-link
  &:before
    content: "\e603"

.member-blog-link
  @extend $member-social-link
  &:before
    content: "\e604"

.member-instagram-link
  @extend $member-social-link
  &:before
    content: "\e601"
