// Color
color-default    = #4a4a49
color-background = #fcf7ed
color-title      = #f2794f
color-highlight  = #505050
color-link       = #f37321
color-link-hover = #ffb07d

// Font family
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-title = Montserrat, font-sans
font-mono = Monaco, Menlo, Consolas, monospace

// Font size
font-size-content = 16px
font-size-h1 = 36px
font-size-h2 = 28px
font-size-h3 = 22px
font-size-h4 = 18px

// Media queries
mq-mobile = "screen and (max-width: 599px)"
mq-normal = "screen and (min-width: 600px)"

// Layout
max-width     = 600px
layout-margin = 25px
