// Color
color-default = #9a8a5b
color-background = #fcf7ed
color-title = #f2794f
color-highlight = #505050
color-visited = #d0cab8

// Font family
font-sans = Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono = Monaco, Menlo, Consolas, monospace

// Font size
font-size-content = 15px
font-size-h1 = 36px
font-size-h2 = 28px
font-size-h3 = 22px
font-size-h4 = 18px

// Media queries
mq-mobile = "screen and (max-width: 599px)"
mq-normal = "screen and (min-width: 600px)"

// Layout
max-width = 600px
layout-margin = 15px