<div id="footer">
  <div class="outer">
    <div class="inner">
      <a href="<%- config.root %>" id="footer-home-link">Visit the site</a>
      <div id="copyright">
        &copy; 2014 WOOMOO Inc.
        <span id="copyright-hexo">
          Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>
        </span>
      </div>
    </div>
  </div>
</div>