<% var author = post.author || config.author; %>
<% if (author){ %>
  <div class="article-author">
    <img src="<%- author_avatar(author) %>" class="article-author-avatar">
    <span class="article-author-text">Posted by <strong itemprop="author"><%= author %></strong></span>
  </div>
<% } %>