<% if (post.author || config.author){ %>
  <div class="article-author">
    <img src="<%- author_avatar(post.author || config.author) %>" class="article-author-avatar">
    <span class="article-author-text">Posted by <%= post.author || config.author %></span>
  </div>
<% } %>