.article
  padding-bottom: 15px
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  margin: 0 0 110px

.article-header
  margin-bottom: 40px
  font-family: font-title

.article-title
  text-decoration: none
  font-weight: bold
  text-align: center
  color: color-title
  font-size: 30px
  line-height: 40px
  display: block
  margin-bottom: 5px
  @media mq-normal
    margin-bottom: 10px

.article-date
  text-align: center
  font-size: 14px
  color: rgba(154, 138, 91, 0.5)
  display: block

.article-entry
  color: color-default
  line-height: 30px
  font-size: font-size-content
  letter-spacing: 0.2px
  p, ul, ol
    margin: 30px 0
  a
    color: color-link
    text-decoration: none
    border-bottom: 1px solid @color
    &:hover
      color: color-link-hover
      border-bottom-color: @color
    &.fancybox
      border-bottom: none
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  img, video
    max-width: 100%
    display: block
    margin: 0 auto
  h1, h2, h3, h4, h5, h6
    margin: 40px 0 20px
    font-weight: bold
    font-size: font-size-h4
  h1
    font-size: font-size-h1
  h2
    font-size: font-size-h2
  h3
    font-size: font-size-h3
  ul
    list-style: disc
  ol
    list-style: decimal
  ul, ol
    margin-left: 20px
    ul, ol
      margin-top: 0
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0
  blockquote
    font-style: italic
    padding-left: 10px + 6px
    position: relative
    p
      display: inline
    &:before, &:after
      content: ""
      width: 10px
      height: 10px
      image: "images/bg-bg-quote.png" @width @height
    &:before
      position: absolute
      top: 4px
      left: 0
    &:after
      display: inline-block
      position: relative
      top: -5px
      margin-left: 6px
  .article-more-link
    text-decoration: none
    border-bottom: none
    &:hover
      border-bottom: 1px solid color-link-hover

.article-footer
  clearfix()
  margin-top: 65px
  color: rgba(154, 138, 91, 0.5)
  font-size: 12px
  text-align: center
  font-family: font-title

$article-share
  .fb-like
    display: inline-block !important
    width: auto !important
  .twitter-tweet-button
    position: relative
    top: 4px
    // padding-left: 10px

.article-share-header
  @extend $article-share
  padding-top: 15px
  text-align: center

.article-share-footer
  @extend $article-share
  margin-top: 15px
  @media mq-normal
    float: right
    margin-top: 0

.article-author-avatar
  display: none
  @media mq-normal
    display: block
    border-radius: 50%
    width: 28px
    height: 28px
    overflow: hidden
    position: absolute
    top: 0
    left: 0

.article-author
  position: relative
  @media mq-normal
    height: 28px
    line-height: @height
    float: left
    padding-left: 38px
  strong
    font-weight: bold
    color: rgba(61, 61, 61, 0.5)

#disqus_thread
  margin: 0 0 110px
