#footer
  clearfix()
  background: color-title
  text-align: center
  font-size: 12px
  padding: 40px 0
  line-height: 15px

#footer-home-link
  color: #fff
  text-decoration: none
  border-bottom: 1px solid #fff
  &:hover
    color: #f9bca7
    border-bottom-color: @color
  @media mq-normal
    float: left

#copyright
  color: rgba(0, 0, 0, 0.5)
  padding-top: 28px
  a
    color: #000
    opacity: 0.5
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)
    text-decoration: none
    &:hover
      opacity: 1
  @media mq-normal
    float: right
    padding-top: 0

#copyright-hexo
  @media mq-normal
    display: block
    text-align: right

#page-top
  display: none
  @media mq-normal
    display: block
    width: 40px
    height: 40px
    cursor: pointer
    image: "images/bg-btn-top.png" @width @height
    position: absolute
    bottom: 24px
    right: -40px - 24px