#logo
  color: #d9d3c5
  text-decoration: none
  font-size: 20px
  text-transform: uppercase
  display: block
  text-align: right
  image: "images/bg-bg-logo.png" 32px 30px
  background-repeat: no-repeat
  background-position: left center
  height: 90px
  line-height: @height
  transition: opacity 0.2s
  &:hover
    opacity: 0.5