#logo
  hide-text()
  color: #d9d3c5
  display: block
  width: 235px
  height: 96px
  image: "images/bg-bg-logo-mobile.png" @width @height
  transition: opacity 0.2s
  margin: (280px - @height) * 0.5 auto
  &:hover
    opacity: 0.5