// Color
color-title   = #fff
color-tagline = #51504c

// Font family
font-sans      = Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono      = Monaco, Menlo, Consolas, monospace
font-icon      = icomoon
font-icon-path = "fonts/icomoon"

// Background
screen-intro    = #fcf7ec
screen-team     = #6fc280
screen-products = #f2794f
screen-contact  = #3fc4e3

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
