// Color
color-title = #fff
color-tagline = #cbc0a4

// Font family
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono = Monaco, Menlo, Consolas, monospace
font-title = Montserrat, font-sans

// Background
screen-title = #fcf7ec
screen-crew = #6fc280
screen-products = #f2794f
screen-contact = #3fc4e3