layout: index
---
.member-wrap.vip
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Ben Lin
    strong.member-tagline CEO
    p.member-desc Craftman at POP

.member-wrap.vip
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Shao Lee
    strong.member-tagline Co-founder
    p.member-desc Craftman at POP

.member-wrap.vip
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Leo Lin
    strong.member-tagline Co-founder
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Jonathan Dang
    strong.member-tagline Web developer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Howard Huang
    strong.member-tagline iOS developer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Carlos Liu
    strong.member-tagline Designer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Ray Shih
    strong.member-tagline Web developer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Lei Lei Wu
    strong.member-tagline Community
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Rick Chen
    strong.member-tagline iOS developer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Ting-Yu Lin
    strong.member-tagline Windows developer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Jason Peng
    strong.member-tagline Android developer
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Tommy Chen
    strong.member-tagline Intern
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Gary
    strong.member-tagline Supporter
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name JJ
    strong.member-tagline Office manager
    p.member-desc Craftman at POP

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name TT
    strong.member-tagline Office manager
    p.member-desc Craftman at POP