layout: index
---
.member-wrap.vip
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com/dreamerslab')
    strong.member-name Ben Lin
    strong.member-tagline Co-founder & CEO
    p.member-desc has been doing startups for 5 years among several websites and apps. He is good at **web frontend and backend development**.

.member-wrap.vip
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com/wraecca')
    strong.member-name Shao Lee
    strong.member-tagline Co-founder
    p.member-desc co-founded WOOMOO with Ben and Leo. He is an ex-indie game developer and was the **iOS team leader** at jiepang.com.

.member-wrap.vip
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com/sillyleo')
    strong.member-name Leo Lin
    strong.member-tagline Co-founder
    p.member-desc co-founded WOOMOO with Ben and Shao. He has **6 years experience in design** and is known as one of the **best UI/UX designer** in Taiwan. Before co-founded WOOMOO he used to work as a **freelancer**.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Jonathan Dang
    strong.member-tagline Web developer
    p.member-desc joined WOOMOO since **Mar 2013** as a **web frontend developer**. He used to work with Shao at jiepang.com.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Carlos Liu
    strong.member-tagline Designer
    p.member-desc joined WOOMOO since **Mar 2013** as an **UI/UX designer**. He used to work with Shao at jiepang.com and has more than **10 years experience in design**.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Howard Huang
    strong.member-tagline iOS developer
    p.member-desc joined WOOMOO since **Apr 2013** as an **iOS developer**. He used to work in various startups and agencies and has **5 years programming experience**.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Ray Shih
    strong.member-tagline Web developer
    p.member-desc joined WOOMOO since **Jun 2013** as an intern **web backend developer**. He started to code since 12 and is good at **web frontend, backend and iOS development**. He currently studies at **NTU** as a master degree student.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Ting-Yu Lin
    strong.member-tagline Windows developer
    p.member-desc joined WOOMOO since **Aug 2013** as a **Windows developer**. He previously worked as a **freelancer** in programming. He is good at **web frontend, backend and Windows development**.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Rick Chen
    strong.member-tagline iOS developer
    p.member-desc joined WOOMOO since **Sep 2013** as an **iOS developer**. He has more than **10 years programming experience** in various agencies.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Lei Lei Wu
    strong.member-tagline Community
    p.member-desc joined WOOMOO since **Sep 2013** as a **community manager**. She has 6 years of off line business development experience.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Jason Peng
    strong.member-tagline Android developer
    p.member-desc joined WOOMOO since **Oct 2013** as an **Android developer**. He previously worked at **Asus** and various startups. He has more than **10 years experience in programming**.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Tommy Chen
    strong.member-tagline Intern
    p.member-desc started his internship in WOOMOO since **Feb 2014**. He currently studies at TKU and he is also the creator of the famous static site framework [Hexo](http://zespia.tw/hexo/).

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name Gary
    strong.member-tagline Supporter
    p.member-desc started his internship in WOOMOO since **Feb 2014**. Previous to WOOMOO he had worked with Ben with Ben's previos startup.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name TT
    strong.member-tagline Office manager
    p.member-desc was adopted in **Jun 2012** as a **mascot** of WOOMOO. Her role is to comfort the team with her hairy and fat belly.

.member-wrap
  .member
    img.member-img(src='http://placekitten.com/62/62')
    .member-social
      a.member-twitter-link(href='https://twitter.com')
    strong.member-name JJ
    strong.member-tagline Office manager
    p.member-desc came together with TT. She is a little smaller but naughtier. She loves to **help us coding** although her codes usually do not make sense.
